openapi: 3.1.0
info:
  title: Stakpak Account MCP API
  description: API for the Stakpak platform
  license:
    name: ''
  version: 1.0.0
servers:
- url: https://apiv2.stakpak.dev
  description: Production server
- url: http://localhost:4000
  description: Local server
tags:
- name: MCP
paths:
  /v1/mcp:
    post:
      tags:
      - MCP
      summary: MCP Server API
      operationId: mcp_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
components:
  schemas:
    ErrorBody:
      type: object
      required:
      - key
      - message
      properties:
        key:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        data: {}
        message:
          type: string
    JsonRpcResponse:
      type: object
      required:
      - jsonrpc
      - id
      properties:
        error:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/JsonRpcError'
        id: {}
        jsonrpc:
          type: string
        result: {}
    JsonRpcRequest:
      type: object
      required:
      - jsonrpc
      - method
      - id
      properties:
        id: {}
        jsonrpc:
          type: string
        method:
          type: string
        params: {}
      additionalProperties: false
  securitySchemes:
    Api Key:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookie:
      type: apiKey
      in: cookie
      name: .idToken
