openapi: 3.1.0
info:
  title: Stakpak Account Account (V2) API
  description: API for the Stakpak platform
  license:
    name: ''
  version: 1.0.0
servers:
- url: https://apiv2.stakpak.dev
  description: Production server
- url: http://localhost:4000
  description: Local server
tags:
- name: Account (V2)
paths:
  /v2/{account}/account/integrations:
    get:
      tags:
      - Account (V2)
      summary: Get My Integrations
      operationId: get_my_integrations_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMyIntegrationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/account/integrations/{integration}:
    delete:
      tags:
      - Account (V2)
      summary: Delete Integration
      operationId: delete_integration_handler
      parameters:
      - name: integration
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    ErrorBody:
      type: object
      required:
      - key
      - message
      properties:
        key:
          type: string
        message:
          type: string
    Integration:
      oneOf:
      - type: object
        required:
        - id
        - type
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - GITHUB
      - type: object
        required:
        - id
        - type
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - SLACK
    GetMyIntegrationsResponse:
      type: object
      required:
      - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
  securitySchemes:
    Api Key:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookie:
      type: apiKey
      in: cookie
      name: .idToken
