openapi: 3.1.0
info:
  title: Stakpak Account Upload API
  description: API for the Stakpak platform
  license:
    name: ''
  version: 1.0.0
servers:
- url: https://apiv2.stakpak.dev
  description: Production server
- url: http://localhost:4000
  description: Local server
tags:
- name: Upload
paths:
  /v1/upload:
    post:
      tags:
      - Upload
      summary: Upload
      operationId: upload_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    UploadResponse:
      type: object
      required:
      - upload_url
      - img_url
      properties:
        img_url:
          type: string
        upload_url:
          type: string
    UploadPayload:
      type: object
      required:
      - key
      properties:
        key:
          type: string
    ErrorBody:
      type: object
      required:
      - key
      - message
      properties:
        key:
          type: string
        message:
          type: string
  securitySchemes:
    Api Key:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookie:
      type: apiKey
      in: cookie
      name: .idToken
