openapi: 3.1.0
info:
  title: Stakpak API
  description: API for the Stakpak platform
  license:
    name: ''
  version: 1.0.0
servers:
- url: https://apiv2.stakpak.dev
  description: Production server
- url: http://localhost:4000
  description: Local server
paths:
  /v1/account:
    get:
      tags:
      - Account
      summary: Get My Details
      operationId: get_me_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMyDetailsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    patch:
      tags:
      - Account
      summary: Patch My Details
      operationId: patch_my_details_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMyDetailsPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/account/api-keys:
    get:
      tags:
      - Account
      summary: List Api Keys
      operationId: get_api_keys_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - cookie: []
    post:
      tags:
      - Account
      summary: Create Api Key
      operationId: post_create_api_key_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreateApiKeyPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCreateApiKeyResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - cookie: []
  /v1/account/api-keys/{key_id}:
    delete:
      tags:
      - Account
      summary: Delete Api Key
      operationId: delete_api_key_handler
      parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - cookie: []
  /v1/account/invitations:
    get:
      tags:
      - Account
      summary: Get My Invitations
      operationId: get_my_invitations_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/account/organizations:
    get:
      tags:
      - Account
      summary: Get My Organizations
      operationId: get_my_organizations_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMyOrganizationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/account/{name}:
    get:
      tags:
      - Account
      summary: Get Account Details
      operationId: get_details_handler
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUser'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/checkpoints/{checkpoint_id}:
    get:
      tags:
      - Agents
      summary: Get Agent Checkpoint Details
      operationId: get_agent_checkpoint_handler
      parameters:
      - name: checkpoint_id
        in: path
        description: Checkpoint ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentOutput'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/memories:
    get:
      tags:
      - Agents
      summary: List Agent Memories
      operationId: get_agent_memories_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentMemoriesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions:
    get:
      tags:
      - Agents
      summary: List Agent Sessions
      operationId: get_agent_sessions_handler
      parameters:
      - name: flow_name
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: flow_version_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentSession'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/checkpoints/{checkpoint_id}/extract-memory:
    post:
      tags:
      - Agents
      summary: Extract Agent Session Memory
      operationId: post_agent_session_extract_memory_handler
      parameters:
      - name: checkpoint_id
        in: path
        description: Checkpoint ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemoryBlock'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/stats:
    get:
      tags:
      - Agents
      summary: Get User Session Usage Statistics for Dashboard
      operationId: get_agent_sessions_stats_handler
      parameters:
      - name: from_date
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: to_date
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionUsageAnalysis'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/{id}/visibility:
    patch:
      tags:
      - Agents
      summary: Update Agent Session Visibility
      operationId: patch_agent_session_visibility_handler
      parameters:
      - name: id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionVisibilityPayload'
        required: true
      responses:
        '200':
          description: Session visibility updated successfully
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/{session_id}:
    get:
      tags:
      - Agents
      summary: Get Agent Session Details
      operationId: get_agent_session_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentOutput'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/{session_id}/checkpoints/latest:
    get:
      tags:
      - Agents
      summary: Get Agent Session Latest Checkpoint
      operationId: get_agent_session_latest_checkpoint_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentOutput'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/agents/sessions/{session_id}/stats:
    get:
      tags:
      - Agents
      summary: Get Single Session Usage Statistics
      operationId: get_agent_session_stats_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionUsageAnalysis'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/chat/completions:
    post:
      tags:
      - Chat
      summary: OpenAI-compatible Chat Completion API
      description: 'This endpoint provides OpenAI-compatible chat completions using stakai for inference.


        Model format: `provider/model` (e.g., `anthropic/claude-sonnet-4-5-20250929`)


        Supported providers:

        - `anthropic`: Claude models

        - `openai`: GPT models

        - `google`: Gemini models

        - `fireworks-ai`: DeepSeek, Qwen, GLM, MiniMax, ERNIE, Kimi models (via Fireworks.ai)


        Headers:

        - `Authorization`: Bearer token (required)'
      operationId: chat_completion_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Chat completion response
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
      security:
      - Api Key: []
  /v1/chat/requests/{request_id}/cancel:
    post:
      tags:
      - Chat
      summary: Cancel a chat completion request
      operationId: cancel_request_handler
      parameters:
      - name: request_id
        in: path
        description: Request ID to cancel
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request cancelled
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIErrorResponse'
      security:
      - Api Key: []
  /v1/commands/build_code_index:
    post:
      tags:
      - Commands
      summary: Build Index
      operationId: build_code_index_command_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildCodeIndexInput'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildCodeIndexOutput'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/knowledge:
    get:
      tags:
      - Knowledge
      summary: List / search knowledge files.
      operationId: search_handler
      parameters:
      - name: glob
        in: query
        description: Glob pattern filtering by path (matched against the full file path).
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: path
        in: query
        description: Scope the search to a subtree (directory). Empty = whole knowledge store.
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKnowledgeResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/knowledge/{path}:
    get:
      tags:
      - Knowledge
      summary: 'Fetch the raw bytes of a knowledge file. When `peek=true`, the response

        is the short preview extracted at write time'
      operationId: read_handler
      parameters:
      - name: path
        in: path
        description: Store-relative file path
        required: true
        schema:
          type: string
      - name: peek
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Raw file bytes (or peek preview)
          content:
            application/octet-stream: {}
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    put:
      tags:
      - Knowledge
      summary: Create-or-overwrite a knowledge file.
      operationId: overwrite_handler
      parameters:
      - name: path
        in: path
        description: Store-relative file path
        required: true
        schema:
          type: string
      requestBody:
        description: Raw file bytes
        content:
          application/octet-stream: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeFile'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Knowledge
      summary: 'Create a new knowledge file. Returns `409 Conflict` if one already

        exists at the target path.'
      operationId: create_handler
      parameters:
      - name: path
        in: path
        description: Store-relative file path
        required: true
        schema:
          type: string
      requestBody:
        description: Raw file bytes
        content:
          application/octet-stream: {}
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeFile'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    delete:
      tags:
      - Knowledge
      summary: Delete a file or directory (recursive).
      operationId: delete_handler
      parameters:
      - name: path
        in: path
        description: Store-relative file or directory path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    head:
      tags:
      - Knowledge
      summary: 'Cheap existence check. Returns `200` with an `ETag` header if the file

        exists, or `404` if it does not. Does not transfer the body.'
      operationId: head_handler
      parameters:
      - name: path
        in: path
        description: Store-relative file path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File exists
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/mcp:
    post:
      tags:
      - MCP
      summary: MCP Server API
      operationId: mcp_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/memories:
    get:
      tags:
      - Memory
      summary: List Memories
      operationId: list_memories_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemoriesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Memory
      summary: Create or Update Memory
      operationId: create_or_update_memory_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMemoryPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateMemoryResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/memories/{uri}:
    get:
      tags:
      - Memory
      summary: Get Memory by URI
      operationId: get_memory_by_uri_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMemoryByUriResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    delete:
      tags:
      - Memory
      summary: Delete Memory
      operationId: delete_memory_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations:
    post:
      tags:
      - Organizations
      summary: Create Organization
      operationId: create_organization_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOrganization'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/check-name:
    post:
      tags:
      - Organizations
      summary: Check Organization Name Availability
      operationId: check_organization_name_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckOrganizationNamePayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckOrganizationNameResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/organizations/invitations/{token}:
    get:
      tags:
      - Organizations
      summary: Validate Invitation Token
      description: 'Public endpoint - no authentication required.

        Returns invitation details including whether the user already has an account.'
      operationId: validate_invitation_handler
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicInvitationDetails'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/organizations/invitations/{token}/accept:
    post:
      tags:
      - Organizations
      summary: Accept Invitation
      description: 'Accepts an invitation for the authenticated user.

        The user''s email must match the invitation email.'
      operationId: accept_invitation_handler
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptInvitationResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}:
    patch:
      tags:
      - Organizations
      summary: Update Organization
      operationId: update_organization_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/invitation:
    post:
      tags:
      - Organizations
      summary: Update My Organization Invitation status
      operationId: update_my_organization_invitation_status_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMyOrganizationInvitationStatusPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/invitations:
    get:
      tags:
      - Organizations
      summary: List Pending Invitations
      description: 'Lists all pending invitations for an organization.

        Requires OWNER or ADMIN role.'
      operationId: list_pending_invitations_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPendingInvitationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Organizations
      summary: Send Invitation
      description: 'Sends an invitation email to join the organization.

        Requires OWNER or ADMIN role.


        For privacy reasons, this endpoint always returns success regardless of

        whether the email exists in the system or already has a pending invitation.'
      operationId: send_invitation_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvitationPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendInvitationResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/invitations/{invitation_id}:
    delete:
      tags:
      - Organizations
      summary: Revoke Invitation
      description: 'Revokes a pending invitation.

        Requires OWNER or ADMIN role.'
      operationId: revoke_invitation_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      - name: invitation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/invitations/{invitation_id}/resend:
    post:
      tags:
      - Organizations
      summary: Resend Invitation
      description: 'Resends an invitation email with a new token.

        Requires OWNER or ADMIN role.'
      operationId: resend_invitation_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      - name: invitation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendInvitationPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendInvitationResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/members:
    get:
      tags:
      - Organizations
      summary: Get Organization Members
      operationId: get_organization_members_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationMembersResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Organizations
      summary: Invite Organization Member
      operationId: invite_organization_member_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteOrganizationMemberPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/organizations/{org_name}/members/{member_name}:
    delete:
      tags:
      - Organizations
      summary: Delete Organization Member
      description: 'Removes a member from the organization.

        Requires OWNER or ADMIN role.

        Cannot remove yourself or the last owner.'
      operationId: delete_organization_member_handler
      parameters:
      - name: org_name
        in: path
        required: true
        schema:
          type: string
      - name: member_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/paks:
    get:
      tags:
      - Knowledge Registry
      summary: List Knowledge Registry Paks
      description: List Knowledge Registry paks with sorting (trending, popular, recent), time window filtering, and pagination.
      operationId: list_paks_handler
      parameters:
      - name: sort_by
        in: query
        description: 'Sort order: TRENDING, MOST_POPULAR, or RECENT. Defaults to TRENDING.'
        required: false
        schema:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PakSortBy'
      - name: time_window
        in: query
        description: 'Time window for download counts: DAILY, WEEKLY, MONTHLY, or ALL_TIME. Defaults to ALL_TIME.'
        required: false
        schema:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PakTimeWindow'
      - name: limit
        in: query
        description: Maximum number of results to return.
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/paks/content/{uri}:
    get:
      tags:
      - Knowledge Registry
      summary: Get Knowledge Registry Pak Content
      description: 'Fetch file or directory content from a pak by URI. The URI format is: owner/pak_name[@version][/path]

        Returns file content for files, or a recursive directory tree for directories.'
      operationId: get_pak_content_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PakContentResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/paks/install/{uri}:
    get:
      tags:
      - Knowledge Registry
      summary: Get Knowledge Registry Pak Install Info
      description: 'Resolves pak metadata for installation and records a download event.

        The URI format is: owner/pak_name[@version]'
      operationId: get_pak_install_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PakInstallResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/paks/publish:
    post:
      tags:
      - Knowledge Registry
      summary: Publish a Pak to the Knowledge Registry
      description: 'Publishes a pak version to the registry. Creates the pak if it doesn''t exist, otherwise creates a new
        version.

        The CLI handles git operations (commit, tag, push), then calls this endpoint to index the pak.'
      operationId: publish_pak_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishPakBody'
        required: true
      responses:
        '200':
          description: Pak published successfully
        '400':
          description: Validation error (invalid tag, missing SKILL.md, version mismatch, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Not authorized to publish to this namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/paks/search:
    get:
      tags:
      - Knowledge Registry
      summary: Search Knowledge Registry Paks
      operationId: search_paks_handler
      parameters:
      - name: owner
        in: query
        description: Owner name when searching by identifier.
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: pak_name
        in: query
        description: Pak name when searching by identifier.
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: query
        in: query
        description: Freeform keyword query. Used when owner/pak_name are not provided.
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPaksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/recovery/sessions/{session_id}/recoveries:
    get:
      tags:
      - Recovery
      summary: Get Recoveries
      operationId: get_recoveries_handler
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: 'Optional status filter: "pending", "approved", "rejected", "applied"'
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecoveriesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/recovery/sessions/{session_id}/recovery/{recovery_id}:
    get:
      tags:
      - Recovery
      summary: Get Recovery By ID
      operationId: get_recovery_by_id_handler
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: recovery_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionRecoveryResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/recovery/sessions/{session_id}/recovery/{recovery_id}/action:
    post:
      tags:
      - Recovery
      operationId: update_recovery_action_handler
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: recovery_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecoveryActionPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/rules:
    get:
      tags:
      - Rules
      summary: List Rule Books
      operationId: list_rule_books_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
    post:
      tags:
      - Rules
      summary: Create or Update Rule Book
      operationId: create_rule_book_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleBookPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRuleBookResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/rules/bulk:
    post:
      tags:
      - Rules
      summary: Create Many Rule Books
      operationId: create_many_rule_books_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManyRuleBooksPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManyRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/rules/search:
    get:
      tags:
      - Rules
      summary: Search Rule Books
      operationId: search_rule_books_handler
      parameters:
      - name: keywords
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v1/rules/{uri}:
    get:
      tags:
      - Rules
      summary: Get Rule Book by URI
      operationId: get_rule_book_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBook'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
    delete:
      tags:
      - Rules
      summary: Delete Rule Book
      operationId: delete_rule_book_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/sessions:
    get:
      tags:
      - Sessions
      summary: List Sessions
      description: Returns a paginated list of sessions for the authenticated user.
      operationId: list_sessions_handler
      parameters:
      - name: limit
        in: query
        description: 'Number of sessions to return (default: 20, max: 100)'
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        description: 'Offset for pagination (default: 0)'
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: search
        in: query
        description: Search in session titles
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: status
        in: query
        description: 'Filter by status: ACTIVE, DELETED (default: ACTIVE)'
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: visibility
        in: query
        description: 'Filter by visibility: PRIVATE, PUBLIC'
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Sessions
      summary: Create Session
      description: Creates a new session with an initial checkpoint.
      operationId: create_session_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/sessions/checkpoints/{checkpoint_id}:
    get:
      tags:
      - Sessions
      summary: Get Checkpoint
      description: Returns a specific checkpoint by ID.
      operationId: get_checkpoint_handler
      parameters:
      - name: checkpoint_id
        in: path
        description: Checkpoint ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCheckpointResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/sessions/{session_id}:
    get:
      tags:
      - Sessions
      summary: Get Session
      description: Returns a single session with its latest checkpoint.
      operationId: get_session_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    delete:
      tags:
      - Sessions
      summary: Delete Session
      description: Soft deletes a session by setting its status to DELETED.
      operationId: delete_session_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSessionResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    patch:
      tags:
      - Sessions
      summary: Update Session
      description: Updates session metadata (title, visibility). Does not modify checkpoints.
      operationId: update_session_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSessionResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/sessions/{session_id}/checkpoints:
    get:
      tags:
      - Sessions
      summary: List Checkpoints
      description: Returns all checkpoints for a session.
      operationId: list_checkpoints_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: 'Number of checkpoints to return (default: 50, max: 100)'
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        description: 'Offset for pagination (default: 0)'
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: include_state
        in: query
        description: 'Include full state in response (default: false)'
        required: false
        schema:
          type:
          - boolean
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCheckpointsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Sessions
      summary: Create Checkpoint
      description: Adds a checkpoint to an existing session.
      operationId: create_checkpoint_handler
      parameters:
      - name: session_id
        in: path
        description: Session ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckpointRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckpointResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v1/telemetry:
    post:
      tags:
      - Telemetry
      summary: Capture Telemetry Event
      description: 'Publicly accessible endpoint (no authentication required) to capture anonymous telemetry events.

        Rate limited to 10 requests per minute per IP address.'
      operationId: telemetry_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryRequest'
        required: true
      responses:
        '200':
          description: Event captured successfully
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
  /v1/upload:
    post:
      tags:
      - Upload
      summary: Upload
      operationId: upload_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - Api Key: []
  /v2/{account}/account/integrations:
    get:
      tags:
      - Account (V2)
      summary: Get My Integrations
      operationId: get_my_integrations_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMyIntegrationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/account/integrations/{integration}:
    delete:
      tags:
      - Account (V2)
      summary: Delete Integration
      operationId: delete_integration_handler
      parameters:
      - name: integration
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/agents/sessions:
    get:
      tags:
      - Agents (V2)
      summary: List Agent Sessions
      operationId: get_agent_sessions_handler
      parameters:
      - name: flow_name
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: flow_version_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentSession'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/agents/sessions/checkpoints/{checkpoint_id}/extract-memory:
    post:
      tags:
      - Agents
      summary: Extract Agent Session Memory
      operationId: post_agent_session_extract_memory_handler
      parameters:
      - name: account
        in: path
        description: Account name
        required: true
        schema:
          type: string
      - name: checkpoint_id
        in: path
        description: Checkpoint ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemoryBlock'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/agents/sessions/stats:
    get:
      tags:
      - Agents (V2)
      summary: Get User Session Usage Statistics for Dashboard
      operationId: get_agent_sessions_stats_handler
      parameters:
      - name: from_date
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: to_date
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      - name: offset
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int32
          minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionUsageAnalysis'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing:
    get:
      tags:
      - Billing (V2)
      summary: Get Billing Customer
      operationId: get_billing_customer_handler
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingCustomerResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing/attach:
    post:
      tags:
      - Billing (V2)
      summary: Attach Product
      operationId: post_attach_product_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAttachProductPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAttachProductResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing/cancel:
    post:
      tags:
      - Billing (V2)
      summary: Cancel Product
      operationId: post_cancel_product_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCancelProductPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing/checkout:
    post:
      tags:
      - Billing (V2)
      summary: Create Checkout Session
      operationId: post_checkout_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCheckoutPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCheckoutResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing/portal:
    post:
      tags:
      - Billing (V2)
      summary: Get Billing Portal URL
      operationId: post_billing_portal_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBillingPortalPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBillingPortalResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/billing/products/{product_id}:
    get:
      tags:
      - Billing (V2)
      summary: Get Product
      operationId: get_product_handler
      parameters:
      - name: product_id
        in: path
        required: true
        schema:
          type: string
      - name: account
        in: path
        required: true
        schema:
          type: string
      - name: product_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
  /v2/{account}/memories:
    get:
      tags:
      - Memory (V2)
      summary: List Memories
      operationId: list_memories_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemoriesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Memory (V2)
      summary: Create or Update Memory
      operationId: create_or_update_memory_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMemoryPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateMemoryResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/memories/{uri}:
    get:
      tags:
      - Memory (V2)
      summary: Get Memory by URI
      operationId: get_memory_by_uri_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMemoryByUriResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    delete:
      tags:
      - Memory (V2)
      summary: Delete Memory
      operationId: delete_memory_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/rules:
    get:
      tags:
      - Rules (V2)
      summary: List Rule Books
      operationId: list_rule_books_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    post:
      tags:
      - Rules (V2)
      summary: Create or Update Rule Book
      operationId: create_rule_book_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleBookPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRuleBookResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/rules/bulk:
    post:
      tags:
      - Rules (V2)
      summary: Create Many Rule Books
      operationId: create_many_rule_books_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManyRuleBooksPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManyRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/rules/search:
    get:
      tags:
      - Rules (V2)
      summary: Search Rule Books
      operationId: search_rule_books_handler
      parameters:
      - name: keywords
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleBooksResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/rules/{uri}:
    get:
      tags:
      - Rules (V2)
      summary: Get Rule Book by URI
      operationId: get_rule_book_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBook'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
    delete:
      tags:
      - Rules (V2)
      summary: Delete Rule Book
      operationId: delete_rule_book_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/rules/{uri}/transfer:
    post:
      tags:
      - Rules (V2)
      summary: Transfer Ownership of Rule Book
      operationId: transfer_ownership_handler
      parameters:
      - name: uri
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/runners:
    get:
      tags:
      - Runners (V2)
      summary: List Runners
      operationId: list_runners_handler
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunnersResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Runners (V2)
      summary: Create Runner
      operationId: create_runner_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunnerPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - Api Key: []
  /v2/{account}/runners/{machine_name}:
    get:
      tags:
      - Runners (V2)
      summary: Get Runner
      operationId: get_runner_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runner'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Runners (V2)
      summary: Update Runner
      operationId: update_runner_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRunnerPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/{account}/runners/{machine_name}/check-upgrade:
    get:
      tags:
      - Runners (V2)
      summary: Check Runner Upgrade
      operationId: check_runner_upgrade_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckRunnerUpgradeResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/{account}/runners/{machine_name}/secrets:
    get:
      tags:
      - Runners (V2)
      summary: Get Runner Secrets
      operationId: get_runner_secrets_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunnerSecretsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Runners (V2)
      summary: Create Runner Secret
      operationId: create_runner_secret_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunnerSecretPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/{account}/runners/{machine_name}/trigger:
    post:
      tags:
      - Runners (V2)
      summary: Trigger Runner
      operationId: trigger_runner_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRunnerPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/{account}/runners/{machine_name}/upgrade:
    post:
      tags:
      - Runners (V2)
      summary: Upgrade Runner Version
      operationId: upgrade_runner_handler
      parameters:
      - name: machine_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                default: null
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    APIGroupVersionStatus:
      type: string
      enum:
      - UNAVAILABLE
      - PENDING
      - AVAILABLE
    AcceptInvitationResponse:
      type: object
      required:
      - organization
      properties:
        organization:
          $ref: '#/components/schemas/PublicBaseOrganization'
    Account:
      oneOf:
      - type: object
        required:
        - name
        - type
        properties:
          name:
            type: string
          type:
            type: string
            enum:
            - User
      - type: object
        required:
        - name
        - type
        properties:
          name:
            type: string
          type:
            type: string
            enum:
            - Organization
    Action:
      oneOf:
      - type: object
        required:
        - id
        - status
        - args
        - answers
        - type
        properties:
          answers:
            type: array
            items:
              type: string
          args:
            $ref: '#/components/schemas/AskUserArgs'
          id:
            type: string
          status:
            $ref: '#/components/schemas/ActionStatus'
          type:
            type: string
            enum:
            - AskUser
      - type: object
        required:
        - id
        - status
        - args
        - type
        properties:
          args:
            $ref: '#/components/schemas/RunCommandArgs'
          exit_code:
            type:
            - integer
            - 'null'
            format: int32
          id:
            type: string
          output:
            type:
            - string
            - 'null'
          status:
            $ref: '#/components/schemas/ActionStatus'
          type:
            type: string
            enum:
            - RunCommand
      - type: object
        required:
        - id
        - status
        - args
        - type
        properties:
          args:
            $ref: '#/components/schemas/ReadDocumentCommandArgs'
          content:
            type:
            - string
            - 'null'
          id:
            type: string
          status:
            $ref: '#/components/schemas/ActionStatus'
          type:
            type: string
            enum:
            - ReadDocumentCommand
      - type: object
        required:
        - id
        - status
        - args
        - result
        - type
        properties:
          args:
            $ref: '#/components/schemas/GenerateCodeCommandArgs'
          id:
            type: string
          result:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/GenerationResult'
          status:
            $ref: '#/components/schemas/ActionStatus'
          type:
            type: string
            enum:
            - GenerateCodeCommand
      - type: object
        required:
        - id
        - status
        - args
        - results
        - type
        properties:
          args:
            $ref: '#/components/schemas/SearchCodeCommandArgs'
          id:
            type: string
          results:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SearchCodeResult'
          status:
            $ref: '#/components/schemas/ActionStatus'
          type:
            type: string
            enum:
            - SearchCodeCommand
      - type: object
        required:
        - id
        - status
        - args
        - type
        properties:
          args:
            $ref: '#/components/schemas/GetDockerfileTemplateArgs'
          id:
            type: string
          status:
            $ref: '#/components/schemas/ActionStatus'
          template:
            type:
            - string
            - 'null'
          type:
            type: string
            enum:
            - GetDockerfileTemplate
    ActionStatus:
      type: string
      enum:
      - PENDING_HUMAN_APPROVAL
      - PENDING
      - PENDING_HUMAN_REVIEW
      - SUCCEEDED
      - FAILED
      - ABORTED
    AgentCheckpoint:
      type: object
      required:
      - id
      - status
      - session
      - execution_depth
      - state
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        execution_depth:
          type: integer
          minimum: 0
        id:
          type: string
          format: uuid
        node_name:
          type:
          - string
          - 'null'
        parent:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AgentParentCheckpoint'
        session:
          $ref: '#/components/schemas/AgentSessionListItem'
        state: {}
        status:
          $ref: '#/components/schemas/AgentStatus'
        updated_at:
          type: string
          format: date-time
    AgentCheckpointListItem:
      type: object
      required:
      - id
      - status
      - execution_depth
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        execution_depth:
          type: integer
          minimum: 0
        id:
          type: string
          format: uuid
        parent:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AgentParentCheckpoint'
        status:
          $ref: '#/components/schemas/AgentStatus'
        updated_at:
          type: string
          format: date-time
    AgentID:
      type: string
      enum:
      - pablo:v1
    AgentOutput:
      oneOf:
      - type: object
        required:
        - messages
        - node_states
        - agent_id
        properties:
          agent_id:
            type: string
            enum:
            - pablo:v1
          messages:
            type: array
            items:
              $ref: '#/components/schemas/ChatMessage'
          node_states:
            type: object
            additionalProperties: {}
            propertyNames:
              type: string
    AgentParentCheckpoint:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
    AgentSession:
      type: object
      required:
      - id
      - title
      - agent_id
      - visibility
      - checkpoints
      - created_at
      - updated_at
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentID'
        checkpoints:
          type: array
          items:
            $ref: '#/components/schemas/AgentCheckpointListItem'
        created_at:
          type: string
          format: date-time
        flow_ref:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FlowRef'
        id:
          type: string
          format: uuid
        owner:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AgentSessionOwner'
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/AgentSessionVisibility'
    AgentSessionListItem:
      type: object
      required:
      - id
      - title
      - agent_id
      - visibility
      - created_at
      - updated_at
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentID'
        created_at:
          type: string
          format: date-time
        flow_ref:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FlowRef'
        id:
          type: string
          format: uuid
        owner:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AgentSessionOwner'
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        visibility:
          $ref: '#/components/schemas/AgentSessionVisibility'
    AgentSessionOwner:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    AgentSessionVisibility:
      type: string
      enum:
      - PRIVATE
      - PUBLIC
    AgentStatus:
      type: string
      enum:
      - RUNNING
      - COMPLETE
      - BLOCKED
      - FAILED
    AgentThinkConfig:
      oneOf:
      - allOf:
        - $ref: '#/components/schemas/AnthropicThinkConfig'
        - type: object
          required:
          - provider
          properties:
            provider:
              type: string
              enum:
              - Anthropic
      - allOf:
        - $ref: '#/components/schemas/OpenAIThinkConfig'
        - type: object
          required:
          - provider
          properties:
            provider:
              type: string
              enum:
              - OpenAI
      - allOf:
        - $ref: '#/components/schemas/GeminiThinkConfig'
        - type: object
          required:
          - provider
          properties:
            provider:
              type: string
              enum:
              - Gemini
    AnalyzeOutput:
      type: object
      required:
      - name
      - version
      - results
      properties:
        name:
          $ref: '#/components/schemas/Analyzer'
        results:
          type: array
          items:
            $ref: '#/components/schemas/AnalyzeResult'
        version:
          type: string
    AnalyzeResult:
      type: object
      required:
      - message
      - severity
      - title
      - local_key
      properties:
        description:
          type:
          - string
          - 'null'
        local_key:
          type: string
        message:
          type: string
        resolution:
          type:
          - string
          - 'null'
        severity:
          $ref: '#/components/schemas/AnalyzeResultSeverity'
        title:
          type: string
        url:
          type:
          - string
          - 'null'
    AnalyzeResultSeverity:
      type: string
      enum:
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
      - UNKNOWN
    Analyzer:
      type: string
      enum:
      - checkov
      - trivy
      - terrascan
    AnthropicModel:
      type: string
      enum:
      - claude-opus-4-6
      - claude-opus-4-5-20251101
      - claude-haiku-4-5-20251001
      - claude-sonnet-4-5-20250929
      - claude-opus-4-20250514
      - claude-sonnet-4-20250514
      - claude-3-7-sonnet-20250219
      - claude-3-5-sonnet-20241022
      - claude-3-5-haiku-20241022
      - claude-3-opus-20240229
    AnthropicThinkConfig:
      type: object
      required:
      - model
      properties:
        model:
          $ref: '#/components/schemas/AnthropicModel'
        system_prompt_key:
          type:
          - string
          - 'null'
    ApiGroupVersion:
      type: object
      required:
      - alias
      - group
      - version
      - provisioner
      - status
      properties:
        alias:
          type: string
        group:
          type: string
        provisioner:
          $ref: '#/components/schemas/ProvisionerType'
        status:
          $ref: '#/components/schemas/APIGroupVersionStatus'
        version:
          type: string
    ApiKeyPath:
      type: object
      required:
      - key_id
      properties:
        key_id:
          type: string
    AppliedCoupon:
      type: object
      required:
      - id
      - code
      - name
      - status
      - frequency
      - created_at
      properties:
        amount_cents:
          type:
          - integer
          - 'null'
          format: int64
        amount_cents_remaining:
          type:
          - integer
          - 'null'
          format: int64
        amount_currency:
          type:
          - string
          - 'null'
        code:
          type: string
        created_at:
          type: string
        expiration_at:
          type:
          - string
          - 'null'
        frequency:
          type: string
        frequency_duration:
          type:
          - integer
          - 'null'
          format: int32
        frequency_duration_remaining:
          type:
          - integer
          - 'null'
          format: int32
        id:
          type: string
        name:
          type: string
        percentage_rate:
          type:
          - string
          - 'null'
        status:
          type: string
        terminated_at:
          type:
          - string
          - 'null'
    AppliedCoupons:
      type: object
      required:
      - applied_coupons
      - meta
      properties:
        applied_coupons:
          type: array
          items:
            $ref: '#/components/schemas/AppliedCoupon'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    AppliedCouponsQuery:
      type: object
      properties:
        page:
          type:
          - integer
          - 'null'
          format: int32
        per_page:
          type:
          - integer
          - 'null'
          format: int32
        status:
          type:
          - string
          - 'null'
    AskUserArgs:
      type: object
      description: Ask the user clarifying questions or more information
      required:
      - description
      - reasoning
      - questions
      properties:
        description:
          type: string
          description: Brief description of why you're asking the user
        questions:
          type: array
          items:
            type: string
          description: List of questions to ask the user
        reasoning:
          type: string
          description: Detailed reasoning for why you need this information
[...]
